@{
    ViewBag.Title = "About SmartGateway";
}

<h2>About</h2>
<p>
    <a href="http://code.google.com/p/messagingtoolkit-smartgateway/">SmartGateway</a> is an application that uses <a href="http://twit88.com/platform/projects/list_files/messagingtoolkit">MessagingToolkit SMS and MMS library</a>
    to send and receive SMS and WAP Push messages.
</p>
