@{
    ViewBag.Title = "SmartGateway Portal";
}

<h2>@ViewBag.Message</h2>

<p>
This is a sample application built using ASP.NET MVC 3 and Entity Framework.
</p>

<p>
You can find further details of this project at <a href="http://code.google.com/p/messagingtoolkit-smartgateway/">http://code.google.com/p/messagingtoolkit-smartgateway/</a>
</p>
