<?xml version="1.0"?>
<configuration>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>


  <connectionStrings>
    <add name="SmartGateway" connectionString="data source=C:\MySpace\2009\MessagingToolkit\MessagingToolkit.SmartGateway.ManagementConsole\messagingtoolkit.db" providerName="System.Data.SQLite"/>
  </connectionStrings>
  

</configuration>
